In [1]:
import pandas as pd
import numpy as np

#Upload File
df = pd.read_csv("25k.csv", sep=",")

df

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp
0,2022,12,5,23:34:20,60.5758,-147.5620,15.1,2.6,"57 km SW of Tatitlek, Alaska",1670283260
1,2022,12,5,23:28:50,37.3565,-121.7167,8.2,1.5,"10km E of Alum Rock, CA",1670282930
2,2022,12,5,23:18:00,60.1315,-153.1349,125.6,1.9,"66 km E of Port Alsworth, Alaska",1670282280
3,2022,12,5,23:13:16,37.3247,-121.6887,6.9,3.7,"13km ESE of Alum Rock, CA",1670281996
4,2022,12,5,23:10:23,39.4327,-92.2425,4.7,2.5,"5 km SSW of Madison, Missouri",1670281823
...,...,...,...,...,...,...,...,...,...,...
24995,2022,9,25,15:32:37,58.2855,-154.9823,3.8,0.5,"85 km NNW of Karluk, Alaska",1664119957
24996,2022,9,25,15:26:26,51.3816,142.7739,10.0,4.8,"51 km NE of Mgachi, Russia",1664119586
24997,2022,9,25,15:25:13,27.7017,56.4543,10.0,4.9,"59 km NNE of Bandar Abbas, Iran",1664119513
24998,2022,9,25,15:22:51,35.3747,-118.1223,4.5,1.1,"30km NNW of California City, CA",1664119371
24999,2022,9,25,15:21:23,53.7207,-162.6143,25.6,1.9,"136 km SSE of False Pass, Alaska",1664119283

In [2]:
#Add zero infront of single digit days & months
df['Day'] = (df['Day'].astype(str)).apply(lambda x: x.zfill(2))
df['Month'] = (df['Month'].astype(str)).apply(lambda x: x.zfill(2))

#Combine Year, Month, Day into Date column
#Date Format: YYYY-MM-DD
df['Date'] = df['Year'].astype(str) + '-' + df['Month'].astype(str) + '-' + df['Day'].astype(str)
df.insert(0,'Date', df.pop('Date'))

#Drop columns
df = df.drop(['Year', 'Month','Day',"Timestamp"], axis = 1)
df

,Date,Time,Lat,Lon,Depth,Mag,Region
0,2022-12-05,23:34:20,60.5758,-147.5620,15.1,2.6,"57 km SW of Tatitlek, Alaska"
1,2022-12-05,23:28:50,37.3565,-121.7167,8.2,1.5,"10km E of Alum Rock, CA"
2,2022-12-05,23:18:00,60.1315,-153.1349,125.6,1.9,"66 km E of Port Alsworth, Alaska"
3,2022-12-05,23:13:16,37.3247,-121.6887,6.9,3.7,"13km ESE of Alum Rock, CA"
4,2022-12-05,23:10:23,39.4327,-92.2425,4.7,2.5,"5 km SSW of Madison, Missouri"
...,...,...,...,...,...,...,...
24995,2022-09-25,15:32:37,58.2855,-154.9823,3.8,0.5,"85 km NNW of Karluk, Alaska"
24996,2022-09-25,15:26:26,51.3816,142.7739,10.0,4.8,"51 km NE of Mgachi, Russia"
24997,2022-09-25,15:25:13,27.7017,56.4543,10.0,4.9,"59 km NNE of Bandar Abbas, Iran"
24998,2022-09-25,15:22:51,35.3747,-118.1223,4.5,1.1,"30km NNW of California City, CA"
24999,2022-09-25,15:21:23,53.7207,-162.6143,25.6,1.9,"136 km SSE of False Pass, Alaska"

In [3]:
df.to_csv('clean25kDataset', index = False)